{{> header}}

<!-- Profil -->
<div id="Profil" class="container">
    <p  class="fs-1 text-center">Mon Profil</p>

    <hr class="my-4">
    <div class="row justify-content-md-center">
        <p  class="fs-4 text-center">Mes informations</p>
            <img src="images/person.svg" height="100px">
        <div class="col-md-auto">
            <h6>Pseudo</h6>
        </div>
        <div class="col-md-auto">
            <h6>Nom</h6>
        </div>
        <div class="col-md-auto">
            <h6>Prenom</h6>
        </div>
        <div class="col-md-auto">
            <h6>Date de naissance</h6>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h6>email</h6>
        </div>
    </div>

    <hr class="my-4">
    <div class="row justify-content-md-center">
        <p  class="fs-4 text-center">Mes préférences</p>
        <div class="col-md-auto">
            <h6>Genre</h6>
        </div>
        <div class="col-md-auto">
            <h6>Réalisateur</h6>
        </div>
        <div class="col-md-auto">
            <h6>Acteur</h6>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>Genre</p>
        </div>
        <div class="col-md-auto">
            <p>Réalisateur</p>
        </div>
        <div class="col-md-auto">
            <p>Acteur</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <a style="text-decoration: none" class="row justify-content-md-center" href="pageModifierProfil.html"><button id="modifierProfil" type="button" class="btn btn-sm btn-outline-dark">Modifier mon profil</button></a>
    </div>
</div>

{{> footer}}