{{> header}}

<div id="filmIndividuel" class="container">

    <p  class="fs-1 text-center">{{nomFilm}}</p>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <img src="{{image}}" height="500" onerror="this.src='/images/popcorn.png'">
        </div>
    </div>
    <br>
    <br>
    
    <div class="row justify-content-md-left">
        <div class="col-md-auto">
            <h6>Titre :</h6>
        </div>
        <div class="col-md-auto">
            <p>{{nomFilm}}</p>
        </div>
        <div class="col-md-auto">
            <h6>Date de sortie :</h6>
        </div>
        <div class="col-md-auto">
            <p>{{dateFilm}}</p>
        </div>
        <div class="col-md-auto">
            <h6>Note moyenne :</h6>
        </div>
        <div class="col-md-auto">
            <p class="text">{{noteMoyenne}} <img src="../images/etoile_jaune.png" style="height: 27px; width: 27px;" class="bi bi-star" alt="etoile"></p>
        </div>
        <div class="col-md-auto">
            <h6>Durée :</h6>
        </div>
        <div class="col-md-auto">
            <p class="text">{{duree}} minutes</p>
        </div>
    </div>
    <div class="row justify-content-md-left">
        <div class="col-md-auto">
            <h6>Réalisateur(s) :</h6>
        </div>
        <div class="col-md-auto">
            {{realisateursFilm}}
        </div>
    </div>
    <div class="row justify-content-md-left">
        <div class="col-md-auto">
            <h6>Acteur(s) :</h6>
        </div>
        <div class="col-md-auto">
            {{acteursFilm}}
        </div>
    </div>
    <div class="row justify-content-md-left">
        <h6>Description :</h6>
    </div>
    <div class="row justify-content-md-left">
        <p>{{descriptionFilm}}</p>
    </div>
    <br>
    {{#name}}
    <form method="post" action="/pageFilm.html/{{idFilm}}" class="needs-validation" novalidate>
        <div class="row">

            <div id="inputAjoutTitreListe" class="col-md-6 mb-3">
                <input name="ajoutListe" type="text" class="form-control" id="titreListeAjout" placeholder="Nom de votre liste dans laquelle ajouter le film" required>
            </div>
            <div class="col-md-6 mb-3">
                <button id="ajoutliste" type="submit" class="btn btn-sm btn-outline-dark">Ajouter à la liste</button>
            </div>
        </div>
    </form>
    {{/name}}
    <br>
    <p class="fs-1 text-center"><a id="back" href="javascript:history.go(-1)" class="btn btn-sm btn-outline-dark">Retour</a></p>

    {{#name}}
    <hr class="my-4">

    <h4 class="mb-3 text-center">Ajouter un avis</h4>

    <form method="post" action="/pageFilm.html/nouvelleCritique/{{idFilm}}" class="needs-validation" novalidate>
        <div class="col-12">
            <label for="pseudo" class="form-label">Message</label>
            <textarea name="message" minlength="1" type="text" class="form-control" id="pseudo" placeholder="......" style="height: 100px"></textarea>
        </div>

        <br>

        <div class="col-md-3">
            <label for="note" class="form-label">Note</label>
            <select name="note" class="form-select" id="note" required>
                <option value="">Note ...</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </div>

        <br>
        <div class="d-flex justify-content-center">
        <button  id="ajoutCritique" type="submit" class="btn btn-sm btn-outline-dark ">Ajouter la critique</button>
        </div>

    </form>
    {{/name}}
    <hr class="my-4">

    <h4 class="mb-3 text-center">Les avis</h4>
    {{#results}}

    <div class="row justify-content-md-left">
        <div class="col-md-auto">
            <h6>Publié par {{pseudoUtilisateur}} le {{date}}</h6>
        </div>
        <div class="col-md-auto">
            <p class="text">{{note}} <img src="../images/etoile_jaune.png" style="height: 27px; width: 27px;" class="bi bi-star" alt="etoile"></p>
        </div>
    </div>
    <div class="row justify-content-md-left">
        <h6>Avis :</h6>
    </div>
    <div class="row justify-content-md-left">
        <p>{{message}}</p>
    </div>

    <div class="col-md-3">
        <hr class="my-4">
    </div>


    {{/results}}


</div>


{{> footer}}