{{> header}}

<!-- Formulaire de moddification du profil -->
<div id="inscriptionform" class="container" style="margin-top: 10px">
    <div class="row justify-content-md-center">
        <div class="col-md-7 col-lg-8 justify-content-md-center">
            <h2 class="mb-3 text-center">Moddifier mon profil</h2>
            <form class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom" placeholder="Nom" value="" required>
                    </div>

                    <div class="col-sm-6">
                        <label for="prenom" class="form-label">Prénom</label>
                        <input type="text" class="form-control" id="prenom" placeholder="Prénom" value="" required>
                    </div>

                    <div class="col-12">
                        <label for="pseudo" class="form-label">Pseudo</label>
                        <input type="text" class="form-control" id="pseudo" placeholder="Pseudo" required>
                        <div class="invalid-feedback">
                            Pseudo invalide ! (Au moins 6 charactères)
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="mail" class="form-label">email</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            <input type="email" class="form-control" id="mail" placeholder="Mail" required>
                            <div class="invalid-feedback">
                                email invalide
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="dateN" class="form-label">Date de naissance</label>
                        <input type="date" class="form-control" id="dateN" placeholder="Date de naissance" required>
                        <div class="invalid-feedback">
                            Age invalide !!
                        </div>
                    </div>
                </div>
                <br>
                <button class="w-100 btn btn-lg btn-outline-dark " type="submit">Moddifier les informations</button>
            </form>
            <form class="needs-validation" novalidate>

                <div class="row g-3">
                    <hr class="my-4">

                    <div class="col-sm-12">
                        <label for="mdpactuel" class="form-label">Mot de passe actuel</label>
                        <input type="password" class="form-control" id="mdpactuel" placeholder="..." value="" required>
                        <div class="invalid-feedback">
                            Mot de passe invalide (8 charactères minimum, une majuscule et un numéros requis)
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="nvxmdp" class="form-label">Nouveaux mot de passe</label>
                        <input type="password" class="form-control" id="nvxmdp" placeholder="Mot de passe" value="" required>
                        <div class="invalid-feedback">
                            Mot de passe invalide (8 charactères minimum, une majuscule et un numéros requis)
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="nvxmdpconfirm" class="form-label">Confirmer le mot de passe</label>
                        <input type="password" class="form-control" id="nvxmdpconfirm" placeholder="Confirmer le mot de passe" value="" required>
                        <div class="invalid-feedback">
                            Confirmation du mot de passe invalide
                        </div>
                    </div>
                </div>
                <br>
                <button class="w-100 btn btn-lg btn-outline-dark " type="submit">Moddifier le mot de passe</button>
            </form>
            <hr class="my-4">

            <h4 class="mb-3">Préférences</h4>
            <form class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-sm-4">
                        <label for="prefGenre" class="form-label">Genre préféré</label>
                        <input type="text" class="form-control" id="prefGenre" placeholder="Genre" value="">
                    </div>

                    <div class="col-sm-4">
                        <label for="prefReal" class="form-label">Réalisateur préféré</label>
                        <input type="password" class="form-control" id="prefReal" placeholder="Réalisateur" value="">
                    </div>

                    <div class="col-sm-4">
                        <label for="prefAct" class="form-label">Acteur préféré</label>
                        <input type="password" class="form-control" id="prefAct" placeholder="Acteur" value="" required>
                    </div>
                </div>
                <br>
                <button class="w-100 btn btn-lg btn-outline-dark " type="submit">Moddifier les preférences</button>
            </form>
        </div>
    </div>
</div>

{{> footer}}