{{> header}}

<!-- Suggestions -->
<div id="film" class="album py-5 bg-light">
    <p class="fs-1 text-center">Les Films</p>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#results}}
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="500" xmlns="" src="{{image}}">

                    <div class="card-body">
                        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" class="card-text text-center"> {{nomFilm}} </h5>
                        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" class="card-text"> {{descriptionFilm}} </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="pageFilm.html/{{idFilm}}"><button onclick="openFilmIndiv()" type="button" class="btn btn-sm btn-outline-dark">Voir plus ...</button></a>
                            </div>
                            <h6> Durée : {{dureeFilm}} mins</h6>
                            <p class="text">{{noteMoyenne}} <img src="../images/etoile_jaune.png" style="height: 27px; width: 27px;" class="bi bi-star" alt="etoile"></p>
                        </div>
                    </div>
                </div>
            </div>
            {{/results}}
        </div>
    </div>
</div>

{{> footer}}