{{> header}}

<!-- Formualaire d'inscription -->
<div id="inscriptionform" class="container" style="margin-top: 10px">
    <div class="row justify-content-md-center">
        <div class="col-md-7 col-lg-8 justify-content-md-center">
            <h2 class="mb-3 text-center">S'inscrire</h2>
            <form method="post" action="/pageInscription.html" class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="nom" class="form-label">Nom</label>
                        <input name="nom" type="text" class="form-control" id="nom" placeholder="Nom" value="" required>
                    </div>

                    <div class="col-sm-6">
                        <label for="prenom" class="form-label">Prénom</label>
                        <input name="prenom" type="text" class="form-control" id="prenom" placeholder="Prénom" value="" required>
                    </div>

                    <div class="col-12">
                        <label for="pseudo" class="form-label">Pseudo</label>
                        <input name="pseudo" type="text" class="form-control" id="pseudo" placeholder="Pseudo" required>
                        <div class="invalid-feedback">
                            Pseudo invalide ! (Au moins 6 charactères)
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="mail" class="form-label">email</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            <input name="mail" type="email" class="form-control" id="mail" placeholder="Mail" required>
                            <div class="invalid-feedback">
                                email invalide
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="dateN" class="form-label">Date de naissance</label>
                        <input name="dateN" type="date" class="form-control" id="dateN" placeholder="Date de naissance" required>
                        <div class="invalid-feedback">
                            Age invalide !!
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="col-sm-6">
                        <label for="mdp" class="form-label">Mot de passe</label>
                        <input name="mdp" type="password" class="form-control" id="mdp" placeholder="Mot de passe" value="" required>
                        <div class="invalid-feedback">
                            Mot de passe invalide (8 charactères minimum, une majuscule et un numéros requis)
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="mdpconfirm" class="form-label">Confirmer le mot de passe</label>
                        <input name="mdpconfirm" type="password" class="form-control" id="mdpconfirm" placeholder="Confirmer le mot de passe" value="" required>
                        <div class="invalid-feedback">
                            Confirmation du mot de passe invalide
                        </div>
                    </div>

                    <hr class="my-4">

                    <h4 class="mb-3">Préférences</h4>

                    <div class="col-sm-4">
                        <label for="prefGenre" class="form-label">Genre préféré</label>
                        <select name="prefGenre" id="prefGenre" class="form-select-focus-1200" required>
                            {{#realisateurs}}
                            <option> {{nomRealisateur}}</option>
                            {{/realisateurs}}
                        </select>
                    </div>

                    <div class="col-sm-4">
                        <label for="prefReal" class="form-label">Réalisateur préféré</label>
                        <select name="prefReal" id="prefReal" class="form-select-focus-1200" required>
                            {{#realisateurs}}
                            <option> {{nomRealisateur}}</option>
                            {{/realisateurs}}
                        </select>
                    </div>

                    <div class="col-sm-4">
                        <label for="prefAct" class="form-label">Acteur préféré</label>
                        <select name="prefAct" id="prefAct" class="form-select-focus-1200" required>
                            {{#realisateurs}}
                            <option> {{nomRealisateur}}</option>
                            {{/realisateurs}}
                        </select>
                    </div>
                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-lg btn-outline-dark " type="submit">S'inscrire</button>
            </form>
        </div>
    </div>
</div>

{{> footer}}