{{> header}}

<!-- Formulaire de connexion -->
<div id="connexionForm" class="container px-4 mx-auto" style="margin-top: 10px">
    <div class="row justify-content-md-center">
        <div class="col-md-7 col-lg-8">
            <h2 class="mb-3 text-center">Se connecter</h2>
            <form method="post" action="/login" class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="user" class="form-label">Pseudo</label>
                        <input  name="user" type="text" class="form-control" id="user" placeholder="Pseudo" value="" required>
                    </div>

                    <div class="col-sm-6">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input  name="password" type="password" class="form-control" id="password" placeholder="Mot de passe" value="" required>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-lg btn-outline-dark " type="submit">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{> footer}}